body{
    overflow-x: hidden;
}
.masdata_container{
    width: 95%;
    margin: auto;
    margin-top: 10px;
    /* display: flex; */
    margin-bottom: 70px;
    gap: 50px;
    /* background-color: yellowgreen; */
}
.Columname-inputcolom{
  display: grid;
  width: 45%;
  /* background-color: yellowgreen; */
}
.Columname-inputcolom input{
    /* width: 250px; */
    outline: none;
    font-size: 13px;
    padding: 6px;
    margin-top: 10px;
    border: 1px solid rgb(214, 214, 214);
  
}
.Columname-inputcolom select{
 /* color: rgb(165, 165, 165); */
  outline: none;
  font-size: 13px;
  padding: 6px;
  margin-top: 10px;
}

.selectdat-submit_btn{
  width: 100px;
  margin: auto;
  margin-top: 20px;
   background-color: teal;
   font-size: 13px;
   padding: 6px;
   color: white;
}

.input_text-labalname{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #000; */
}


.input_text-labalname label{
  font-size: 14px;
}
/* 
.selet_reset-pass{
  background-color: teal;
  padding: 5px;
  color: white;
  font-weight: 400;
} */
.selet_reset-pass{
  width: 40px;
  padding: 7px;
  background-color: teal;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .selet_reset-pass img{
  width: 20px;
  color: white;
  margin: auto;
} */

.masterdata_submit-btn{
  background-color: teal;
  margin: auto;
  font-size: 13px;
  width: 130px;
  padding: 7px;
  color: white;
  margin-top: 10px;
}
.modal-title{
  font-size: 15px;
  margin: auto;
  font-weight: bold;
  margin-right: 10px;
}

.save-changebtn{
  font-size: 13px;
  background-color: teal;
  padding: 6px;
  width: 120px;
  border-radius: 5px;
  color: white;
  margin: auto;
}
  

.update-container{
  background-color: white;
  width: 35%;
  margin: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-align: center;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 20px;

}
.input-group{
  width: 200px;
  position: static;
  display: flex;
  margin: auto;
}

.input-labal{
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.update-container h1{
  font-weight: bold;
  text-align: center;
}

.update-container input{
/* width: 100%; */
outline: none;
font-size: 13px;
padding: 6px;
margin: 7px;
border: 1px solid gray;
border-radius: 3px;
}
.input-group_max input{
  width: 60px;
  font-size: 13px;
padding: 6px;
margin: 0px;
border: 1px solid gray;
border-radius: 3px;
margin-top: 6px;
margin-bottom: 16px;
}
.input-group_max {
  margin: auto;
  width: 200px;
  display: grid;
  font-size: 14px
  /* background: #000; */
}
.input-group_max label{
  text-align: start;
}

/* selectdata table */



  .response-container {
    max-width: 100%;
    /* max-width: 900px; */
    font-size: 13px;
    overflow-x: auto; 
    line-height: 1.4; 
}

/* Custom scrollbar */
.response-container::-webkit-scrollbar {
    width: 3px; 
    height: 3px; 
}
.response-container-user{
  width: 60%;
  font-size: 13px;
}

.response-container::-webkit-scrollbar-thumb {
    background-color: rgb(248, 249, 250); /* Color of the scrollbar */
}

  

.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  
}

.data-table th, .data-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
 
.data-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}
.seletdata_edit-delet-btn{
  display: flex;
  gap: 7px;
  border: none;
  /* background: #000; */
}
.selet_edit-btn{
  width: 50px;
  /* padding: 3px; */
  padding: 5px;
  background-color:rgb(32, 145, 235);
  /* color: #2091eb; */
  color: white;
}
.select_delete-btn{
  width: 50px;
 /* border-radius: 10px; */
  background-color:rgb(187, 9, 9);
  /* color: red; */
  color: white;
}

.input-group label{
 font-size: 14px;
 font-weight: 400;
}

.pagination{
  justify-content: center;
  position: absolute;
  left: 50%;
  right: 50%;
}
.pagination button:focus{
  box-shadow: none;
}

.paginavigation_container{
  margin-bottom: 40px;
}
/* delet model  */

.modal-body{
  font-size: 14px;
}
.close_topbutton-taxes {
  padding: 5px;
  display: flex;
  justify-content: end;
}

.close_topbutton-taxes button:focus {
  box-shadow: none;
}

.modal-header h6{
  margin: auto;
  font-weight: bold;
}

 .modal-footer button {
  width: 70px;  
  font-size: 13px;
 }
 .modal-footer button:focus{
 box-shadow: none;
 }
  

/* Ensure MaxCompanies column width is fixed */
th.max-companies-column,
td.max-companies-column {
  width: 20px !important;
  min-width: 20px !important;
  max-width: 65px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  padding: 2px;
}

.search-container{
  width: 100%;
  margin: auto;
  font-size: 13px;
}
#recordsPerPage{
  width: auto;
  padding: 3px;
  outline: none;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}
  
.search-container input{
  width: 220px;
  padding: 6px;
  outline: none;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 4px;
}

/* .update-pass_input */

.update-pass_input{
  width: 80%;
  /* display: flex;
  justify-content: center; */
  margin: auto;
  /* background: #000; */

}
.update-pass_input input{
  outline: none;
  width: 100%;
  margin: auto;
  border: 1px solid gray;
  padding: 5px;
  font-size: 13px;
}


/* resetpass-container */



.resetpass_button{
  /* width: 30px; */
  padding: 7px;
  border-radius: 5px;
   background-color:teal;
   color: white;
}
.modal-content{
  width: 65%;
  /* background: #000; */
}
 
.close_bottombutton-update {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.close_bottombutton-update button {
  font-size: 13px;
  width: 150px;

} 
.resetpassword{
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resetpass-container{
  width: 33%;
  background: #ffffff;
  

}
.form-check{
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.form-check-input{
cursor: pointer;
}
.form-check-input:focus{
 box-shadow: none;
  }
  



  
@media only screen and (max-width: 768px){
  .Columname-inputcolom{
    width: 95%;
    margin: auto;
  }
  .input_text-labalname{
    display: inline;
  }
  .Columname-inputcolom input{
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }
  .update-container{
  width: 95%;
  margin: auto;
}
.input-labal{
  display: inline;
}
.input-labal label{
  margin-left: 7px;
}
.save-changebtn{
  margin-left: 7px;
}
.response-container{
    width: 350px;
    font-size: 13px;
    overflow-x: scroll;
  
  }
  .response-container-user{
    width: 100%;
    font-size: 13px;
  }
  
.input_text-labalname select{
  width: 100%;

}
.resetpass-container{
  width: 65%;
  background: #ffffff;
}
.search-container input {
  width: auto;
 
}
/* .response-container {
  width: 95%;
  margin: auto;

} */
.search-container{
  width: 95%;
  margin: auto;
  font-size: 13px;
}
.button_search-payment input {
  width: 164px;
  font-size: 11px;
}



}