.masdata_container{
    width: auto;
    margin: auto;
    margin-top: 10px;
    /* display: flex; */
    gap: 50px;
    /* background-color: yellowgreen; */
}
.Columname-inputcolom{
  display: grid;
  width: 45%;
  /* background-color: yellowgreen; */
}
.Columname-inputcolom input{
    width: 250px;
    outline: none;
    font-size: 13px;
    padding: 6px;
    margin-top: 10px;
    border: 1px solid rgb(214, 214, 214);
}


.selectdat-submit_btn{
  width: 100px;
  margin: auto;
  margin-top: 20px;
   background-color: teal;
   font-size: 13px;
   padding: 6px;
   color: white;
}

.input_text-labalname{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input_text-labalname label{
  font-size: 14px;
}

.Columname-inputcolom select {
  width: 250px;
  outline: none;
  font-size: 13px;
  padding: 6px;
  /* color: rgb(90, 90, 90); */
  margin-top: 10px;
  border: 1px solid rgb(214, 214, 214);
}
 
.response-container{
  font-size: 13px;
  /* background-color: yellowgreen; */  

}
.masterdata_submit-btn{
  background-color: teal;
  margin: auto;
  font-size: 13px;
  width: 130px;
  padding: 7px;
  color: white;
  margin-top: 10px;
}
.modal-title{
  font-size: 15px;
  margin: auto;
  font-weight: bold;
  margin-right: 10px;
}

.save-changebtn{
  font-size: 13px;
  background-color: teal;
  padding: 6px;
  width: 120px;
  border-radius: 5px;
  color: white;
  margin: auto;
}
.update-container{
  width: 40%;
  margin: 20px;
}
.input-group{
  position: static;
  display: flex;
}
.input-labal{
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.update-container h1{
  font-weight: bold;
  text-align: center;
}

.update-container input{
width: 100%;
outline: none;
font-size: 13px;
padding: 6px;
margin: 7px;
border: 1px solid gray;
border-radius: 3px;
}

/* selectdata table */

.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.data-table th, .data-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.data-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}
.seletdata_edit-delet-btn{
  display: flex;
  gap: 7px;
}
.selet_edit-btn{
  width: 70px;
  /* margin: 2px; */
  padding: 3px;
  background-color:rgb(32, 145, 235);
  color: white;
}
.select_delete-btn{
  width: 70px;
  /* margin: 2px; */
  padding: 3px;
  background-color:rgb(187, 9, 9);
  color: white;
}

.select_pagination{
  /* background: #000; */
  text-align: center;
  padding: 8px;
}

@media only screen and (max-width: 768px){
  .Columname-inputcolom{
    width: 95%;
    margin: auto;
  }
  .input_text-labalname{
    display: inline;
  }
  .Columname-inputcolom input{
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }
  .update-container{
  width: 95%;
  margin: auto;
}
.input-labal{
  display: inline;
}
.input-labal label{
  margin-left: 7px;
}
.save-changebtn{
  margin-left: 7px;
}
}