body {
  margin: 0;
  padding: 0;
  background-color: rgb(241, 241, 241);
}

.Taxes {
  width: 95%;
  height: auto;
  margin: auto;
  /* background-color: white; */

}

.Taxes_maintext {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;


}

.Taxes_maintext h6 {
  font-weight: bold;
  color: rgb(80, 80, 80);
}

.Taxes_maintext div {
  display: flex;
  font-size: 13px;
}

.Taxes_maintext div span {
  color: rgb(80, 80, 80);
}

.Taxes_maintext div i {
  padding: 5px;
  font-size: 9px;
}

.button_search-text {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;

}

.button_search-text input {
  width: 230px;
  font-size: 11px;


}

.button_search-text input:focus {
  box-shadow: none;

}

.button_search-text button {
  font-size: 12px;
  background-color: rgb(25, 122, 109);
  color: white;
}

.button_search-text button i {
  padding: 5px;
  font-size: 10px;
}

.button_search-text button:focus {
  box-shadow: none;
}

.button_search-text button:hover {
  color: rgb(255, 255, 255)
}

.button_search-text div {
  display: flex;
  gap: 13px;
}

.button_search-text div span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  padding: 5px;
  background-color: rgb(210, 228, 228);
  color: rgb(6, 158, 158);
  font-size: 12px;
  cursor: pointer;

}


/* taxes_three-icon */




.texts_three-icons {
  width: auto;
  height: auto;
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: absolute;
  right: 23px;
  top: 130px;
  padding: 10px;
  color: rgb(63, 63, 63);
  font-size: 12px;
  cursor: pointer;

}

.texts_three-icons ul {
  padding: 3px;
}



/* taxes_container-box */




.Addtext_Details-colom {
  width: 50%;
  margin-top: 20px;
 
}


.Addtext_Details-colom input {
  padding: 5px;
  font-size: 12px;

}


.submit_button-taxes {
  width: 100px;
  font-size: 13px;
  padding: 5px;
  border: 1px solid gray;
  margin: auto;
  margin-top: 15px;
  text-align: center;
  background-color: rgb(25, 122, 109);
  color: #ffffff;
  border-radius: 5px;
  position: relative;
  top: 10px;



}


.text_rare-table {
  width: 50%;
  margin-top: 30px;
  background-color: #9b9393;
}

.text_rare-table th {
  font-size: 13px;
  background-color: rgb(248, 249, 250);
  color: rgb(59, 59, 59);
}

.text_rare-table td {
  font-size: 13px;
  background-color: #ffffff;

}

#update_taxes {
  padding: 0px;
  margin: 0;
  font-size: 16px;
  color: rgb(6, 134, 34);
  cursor: pointer;
}


#delet_taxes {
  font-size: 16px;
  color: rgb(218, 0, 0);
  cursor: pointer;
}

/* close_topbutton-taxes0 */


.modal-content {
  max-width: 400px;
  margin: auto;
 
}

.close_topbutton-taxes {
  padding: 5px;
  display: flex;
  justify-content: end;
}

.close_topbutton-taxes button:focus {
  box-shadow: none;
}

.delet_icon-boxtaxes {
  display: flex;
  justify-content: center;
  align-items: center;


}

.delet_icon-boxtaxes i {
  color: red;
  background-color: rgba(241, 57, 57, 0.11);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.taxes_pcolom h6 {
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 13px;
}

.taxes_pcolom p {
  width: 75%;
  margin: auto;
  text-align: center;
  font-size: 13px;
  color: rgb(83, 83, 83);

}

.close_bottombutton-taxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.close_bottombutton-taxes button {
  font-size: 13px;
  width: 150px;

}

.delete_button {
  background-color: red;
  color: white;
  padding: 7px;
  border-radius: 7px;
}


.cencle_button {
  padding: 7px;
  border-radius: 7px;
  border: 1px solid rgb(170, 170, 170);
}


/* edit taxes  */


.adit_model-container {
  width: 340px;
  padding: 5px;
  background: #ffffff;
}



.taxes_modal-body h6 {
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

.taxes_modal-input {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}

.taxes_modal-input input {
  outline: none;
  border: 1px solid gray;
  font-size: 13px;
  padding: 5px;
  border-radius: 3px;
}

.edit_bottombutton-taxes {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
}

.edit_button {
  background-color: rgb(25, 122, 109);
  color: white;
  padding: 5px;
  border-radius: 7px;
  font-size: 13px;
  width: 100px;
}

.cencl_button {
  border: 1px solid gray;
  color: rgb(54, 54, 54);
  padding: 5px;
  border-radius: 7px;
  font-size: 13px;
  width: 100px;
}

@media only screen and (max-width: 768px){
  .button_search-text input {
      width: 190px;
  }
  .Addtext_Details-colom {
    width: 100%;
  }
  .text_rare-table {
    width: 100%;
  }
}